body {
    font-family: $font-family;
    background-image: url('/assets/svg/background.svg');
    background-repeat: no-repeat;
    @include break('middle') {
        background-image: url('/assets/svg/background2.svg');
    }
}

body::-webkit-scrollbar {
    width: 0.8rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #8AC1EB;
}  
