
<div class="balls animate__animated animate__fadeIn"  
     *ngIf="!showPlayer" [ngClass]="{'fut-basketball-rotate': wait}">
  <img class="fut" src="../../../assets/svg/basketball.svg" alt="" width="60" height="60">
  <img class="baske" src="../../../assets/svg/soccer.svg" alt="" width="60" height="60">
</div>



<div *ngIf="showPlayer" class="card-container animate__animated animate__fadeIn">
    <mat-card class="card" >
        <mat-card-header>
          <mat-card-title>{{playerInfo.name}}</mat-card-title>
          <mat-card-subtitle>{{playerInfo.sport}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image  
            class="img-card" 
            [src]="playerInfo.url_image" 
            [alt]="playerInfo.name">
        <mat-card-actions class="btn-container">
          <button mat-raised-button
                  class="btn-download"
                  (click)=" download()">
            Descargar <mat-icon>file_download</mat-icon>
          </button>
        </mat-card-actions>
    </mat-card>
</div>