<form [formGroup]="formUser">
    <div class="form-group">
      <label for="exampleFormControlInput1">Nombre</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Tu nombre" formControlName="name">
      <div class="alert alert-danger"  *ngIf="name.invalid && (name.dirty || name.touched)">
        <div *ngIf="name.errors.required">
          ¡El nombre es requerido!
        </div>
        <div *ngIf="name.errors.pattern">
            Tu nombre debe contener únicamente letras
        </div>
      </div>
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Apellido</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Tu apellido" formControlName="lastName">
        <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
            <div class="alert alert-danger" *ngIf="lastName.errors.required">
                ¡El apellido es requerido!
            </div>
            <div class="alert alert-danger" *ngIf="lastName.errors.pattern">
                Tu nombre debe contener únicamente letras
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Dirección de email</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Tu correo electronico" formControlName="email">
        <div  *ngIf="email.invalid && (email.dirty || email.touched)">
            <div class="alert alert-danger" *ngIf="email.errors.required">
                ¡El email es requerdio!
            </div>
            <div class="alert alert-danger" *ngIf="email.errors.pattern">
                Debes introducir un email v@lido
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Usuario de Github</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="User de Github" formControlName="github">
        <div  *ngIf="github.invalid && (github.dirty || github.touched)">
            <div class="alert alert-danger" *ngIf="github.errors.required">
                !Tu usuario de github es requerido¡
            </div>
        </div>
    </div>
    <button class="btn btn-success" [disabled]="formUser.invalid" (click)="showInTable()">Mostrar en tabla</button>
    <button class="btn btn-warning" (click)="cleanForm()">Limpiar formulario</button>
</form>


<table class="table" *ngIf="showTable">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Github</th>
      </tr>
    </thead>
    <tbody *ngFor="let user of tableUsers, let i = index">
      <tr>
        <th scope="row">{{i}}</th>
        <td>{{user.name}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.github}}</td>
      </tr>
    </tbody>
</table>
